
                                                                            /*------Top-----*/
#top{
    background-color: black;
    height: 25vh;
    position: relative;

}
    #topLeft{
        float: left;
        width: 25vw;
        height: 20vh;
    }
        #title{
            width: 25vw;
            height: 15vh;
        }
                                                                                       /*------Stats-----*/
    #statBox{
        float: left;
        width: 25vw;
        height: 20vh;
    }
        #name{
            font-size: 1.5vw;
            line-height: 2vh;
            margin: 1vh;
        }
        .westStatBox{
            display: none;
            font-size: 1.5vw;
            line-height: 3vh;
            width: 8vw;
            height: 7vh;
            text-align: center;
            position: relative;
            float:left;
            border: 0.1vw solid white;
        }
        .westNumbers{
                min-width: 8vw;
                text-align: center;
                font-weight: bold;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                }   
        #visionBox{
            background-color: #00008b;
        }
        .visionText{
            font-size: 1.5vw;
            line-height: 4vh;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        #charmBox{
            background-color: #6e0a1e;
        }
        .charmText{
            font-size: 1.5vw;
            line-height: 4vh;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        #healthBox{
            background-color: #004000;
        }
        .healthText{
            font-size: 1.5vw;
            line-height: 4vh;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        #radianceBox{
            background-color:#105954;
        }
        .radianceText{
            font-size: 1.5vw;
            line-height: 4vh;
            font-family: "Papyrus", "Arial", sans-serif;
        }
        #madnessBox{
            display: block;
            position: absolute;
            left: 41vw;
            top: 11vh;
            font-size: 1.5vw;
            line-height: 3vh;
            width: 8vw;
            height: 7vh;
            background-color: #240048;
            cursor: grab;
            z-index: 10;
            border-radius: 0% 0% 0% 0%;
            transform: rotate(0deg);
        }
        #madnessBox.dragging {
            cursor: grabbing;
        }
        .madnessText{
            margin-top: 0.5vh;
            font-size: 3vh;
            line-height: 3vh;
            font-family: "Papyrus", "Arial", sans-serif;
        }

        #gear{
            position: absolute;
            cursor: pointer;
            left: 50vw;
            top: 4vh;
            width: 4.2vw;
            height: 2.2vw;
        }
    #menuBox{
        float: left;
        margin-top: 4vh;
        width: 12vw;
        height: 12vh;
        display: none;
        gap: 0.5vw; 
        flex-wrap: wrap;
    }
 .menuItem{
    clear: both;
    float: right;
    width: 4vw;
    height: 2vw;
    padding: 0.25vw;
    border: 1px groove blue;
}  
        
        
    #commentBox{
        margin-right: 1vw;
        margin-top: 1vh;
        float: right;
        width: 35vw;
        height: 20vh;
    }
        #commentaryTitle{
            float: right;
            text-align: right;
            line-height: 4vh;
            width: 25vw;
        }
        #commentary{
            cursor: pointer;
            float: right;
            text-align: right;
            overflow: hidden;
            font-size: 1.25vw;
            line-height: 1.5vw;
            min-height: 16vh;
            height: 16vh; 
            width: 30vw;
            background-color: #121212;
        }
        #topNyar{
            float: right;
            width: 5vw;
        }
    #tabRow{
        position: absolute;
        bottom: -0.4vh;
        left: 0;
        min-width: 99vw;
        display: flex;
        justify-content: space-evenly;
        padding-right: 1vw;
        padding-left: 1vw;
    }
        .tabs{
            display: none;
            padding-top: 0.25vh;
            float: left;
            min-width: 15vw;
            min-height: 4vh;
            font-size: 1.5vw;
            line-height: 1.5vw;
            text-align: center;
            border: 0.2vw solid white;
            border-radius: 5px 0 0 0;
            position: relative;
            font-weight: bold;
            z-index: 30;
        }
        #westTab{
            background-color: black;
        }